<h1 id="whoTitle">부산광역시・</h1>

<div>
    <!--<img id="img_map2" src="https://whynotvote-nis.c9users.io/assets/sources/map_2/map_2_16busan-01.png">-->
    <img id="img_map2" src="https://whynotvote-nis.c9users.io/assets/sources/map_2/2/map_2_16busan.png">
</div>

<div id="rg2_list">
    <div class='rgnbtn' id=25>중구·영도구</div>
    <div class='rgnbtn' id=26>서구·동구</div>
    <div class='rgnbtn' id=27>부산진구</div>
    <div class='rgnbtn' id=28>동래구</div>
    <div class='rgnbtn' id=29>남구</div>
    <div class='rgnbtn' id=30>북구강서구</div>
    <div class='rgnbtn' id=31>해운대구</div>
    <div class='rgnbtn' id=32>사하구</div>
    <div class='rgnbtn' id=33>금정구</div>
    <div class='rgnbtn' id=34>연제구</div>
    <div class='rgnbtn' id=35>수영구</div>
    <div class='rgnbtn' id=36>사상구</div>
    <div class='rgnbtn' id=37>기장군</div>
</div>