<h1 id="whoTitle">대구광역시・</h1>

<div>
    <!--<img id="img_map2" src="https://whynotvote-nis.c9users.io/assets/sources/map_2/map_2_11daegu-01.png">-->
    <img id="img_map2" src="https://whynotvote-nis.c9users.io/assets/sources/map_2/2/map_2_11daegu.png">
</div>

<div id="rg2_list">
    <div class='rgnbtn' id=38>중구·남구</div>
    <div class='rgnbtn' id=39>동구</div>
    <div class='rgnbtn' id=40>서구</div>
    <div class='rgnbtn' id=41>북구</div>
    <div class='rgnbtn' id=42>수성구</div>
    <div class='rgnbtn' id=43>달서구</div>
    <div class='rgnbtn' id=44>달성군</div>
</div>