<h1 id="whoTitle">대전광역시・</h1>

<div>
    <!--<img id="img_map2" src="https://whynotvote-nis.c9users.io/assets/sources/map_2/map_2_8daejeon-01.png">-->
    <img id="img_map2" src="https://whynotvote-nis.c9users.io/assets/sources/map_2/2/map_2_8daejeon.png">
</div>

<div id="rg2_list">
    <div class='rgnbtn' id=56>동구</div>
    <div class='rgnbtn' id=57>중구</div>
    <div class='rgnbtn' id=58>서구</div>
    <div class='rgnbtn' id=59>유성구</div>
    <div class='rgnbtn' id=60>대덕구</div>
</div>
