<h1 id="whoTitle">경기도・</h1>

<div>
    <!--<img id="img_map2" src="https://whynotvote-nis.c9users.io/assets/sources/map_2/map_2_3gyeonggi-01.png">-->
    <img id="img_map2" src="https://whynotvote-nis.c9users.io/assets/sources/map_2/2/map_2_3gyeonggi.png">
</div>

<div id="rg2_list">
    <div class='rgnbtn' id=66>수원시</div>
    <div class='rgnbtn' id=67>성남시</div>
    <div class='rgnbtn' id=68>의정부시</div>
    <div class='rgnbtn' id=69>안양시</div>
    <div class='rgnbtn' id=70>부천시</div>
    <div class='rgnbtn' id=71>광명시</div>
    <div class='rgnbtn' id=72>평택시</div>
    <div class='rgnbtn' id=73>동두천시·연천군</div>
    <div class='rgnbtn' id=74>안산시</div>
    <div class='rgnbtn' id=75>고양시</div>
    <div class='rgnbtn' id=76>의왕시·과천시</div>
    <div class='rgnbtn' id=77>구리시</div>
    <div class='rgnbtn' id=78>남양주시</div>
    <div class='rgnbtn' id=79>오산시</div>
    <div class='rgnbtn' id=80>시흥시</div>
    <div class='rgnbtn' id=81>군포시</div>
    <div class='rgnbtn' id=82>하남시</div>
    <div class='rgnbtn' id=83>용인시</div>
    <div class='rgnbtn' id=84>파주시</div>
    <div class='rgnbtn' id=85>이천시</div>
    <div class='rgnbtn' id=86>안성시</div>
    <div class='rgnbtn' id=87>김포시</div>
    <div class='rgnbtn' id=88>화성시</div>
    <div class='rgnbtn' id=89>광주시</div>
    <div class='rgnbtn' id=90>양주시</div>
    <div class='rgnbtn' id=91>포천시·가평군</div>
    <div class='rgnbtn' id=92>여주시·양평군</div>
</div>