<h1 id="whoTitle">강원도・</h1>

<div>
    <!--<img id="img_map2" src="https://whynotvote-nis.c9users.io/assets/sources/map_2/map_2_4kangwon-01.png">-->
    <img id="img_map2" src="https://whynotvote-nis.c9users.io/assets/sources/map_2/2/map_2_4kangwon.png">
</div>

<div id="rg2_list">
    <div class='rgnbtn' id=93>춘천시</div>
    <div class='rgnbtn' id=94>원주시</div>
    <div class='rgnbtn' id=95>강릉시</div>
    <div class='rgnbtn' id=96>동해시·삼척시</div>
    <div class='rgnbtn btn_sm btn_ssm' id=97>태백시·횡성군·영월군·평창군·정선군</div>
    <div class='rgnbtn btn_sm' id=98>속초시·고성군·양양군</div>
    <div class='rgnbtn btn_sm btn_ssm' id=99>홍천군·철원군·화천군·양구군·인제군</div>
</div>