<h1 id="whoTitle">인천광역시・</h1>

<div>
    <!--<img id="img_map2" src="https://whynotvote-nis.c9users.io/assets/sources/map_2/map_2_2incheon-01.png">-->
    <img id="img_map2" src="https://whynotvote-nis.c9users.io/assets/sources/map_2/2/map_2_2incheon.png">
</div>

<div id="rg2_list">
    <div class='rgnbtn btn_sm' id=45>중구·동구·강화군·옹진군</div>
    <div class='rgnbtn' id=46>남구</div>
    <div class='rgnbtn' id=47>연수구</div>
    <div class='rgnbtn' id=48>남동구</div>
    <div class='rgnbtn' id=49>부평구</div>
    <div class='rgnbtn' id=50>계양구</div>
    <div class='rgnbtn' id=51>서구</div>
</div>