
<h1 id="whoTitle">전라북도・</h1>

<div>
    <!--<img id="img_map2" src="https://whynotvote-nis.c9users.io/assets/sources/map_2/map_2_12jen-01.png">-->
    <img id="img_map2" src="https://whynotvote-nis.c9users.io/assets/sources/map_2/2/map_2_12jen.png">
</div>

<div id="rg2_list">
    <div class='rgnbtn' id=113>전주시</div>
    <div class='rgnbtn' id=114>군산시</div>
    <div class='rgnbtn' id=115>익산시</div>
    <div class='rgnbtn' id=116>정읍시·고창군</div>
    <div class='rgnbtn btn_sm' id=117>남원시·임실군·순창군</div>
    <div class='rgnbtn' id=118>김제시·부안군</div>
    <div class='rgnbtn btn_sm' id=119>완주군·진안군·무주군·장수군</div>
</div>