<h1 id="whoTitle">전라남도・</h1>

<div>
    <!--<img id="img_map2" src="https://whynotvote-nis.c9users.io/assets/sources/map_2/map_2_13jes-01.png">-->
    <img id="img_map2" src="https://whynotvote-nis.c9users.io/assets/sources/map_2/2/map_2_13jes.png">
</div>

<div id="rg2_list">
<div class='rgnbtn' id=120>목포시</div>
<div class='rgnbtn' id=121>여수시</div>
<div class='rgnbtn' id=122>순천시</div>
<div class='rgnbtn' id=123>나주시·화순군</div>
<div class='rgnbtn btn_sm' id=124>광양시·곡성군·구례군</div>
<div class='rgnbtn btn_sm btn_ssm' id=125>담양군·함평군·영광군·장성군</div>
<div class='rgnbtn btn_sm btn_ssm' id=126>고흥군·보성군·장흥군·강진군</div>
<div class='rgnbtn btn_sm' id=127>해남군·완도군·진도군</div>
<div class='rgnbtn btn_sm' id=128>영암군·무안군·신안군</div>
</div>