<h1 id="whoTitle">경상북도・</h1>

<div>
    <!--<img id="img_map2" src="https://whynotvote-nis.c9users.io/assets/sources/map_2/map_2_9gyn-01.png">-->
    <img id="img_map2" src="https://whynotvote-nis.c9users.io/assets/sources/map_2/2/map_2_9gyn.png">
</div>

<div id="rg2_list">
    <div class='rgnbtn' id=129>포항시</div>
    <div class='rgnbtn' id=130>경주시</div>
    <div class='rgnbtn' id=131>김천시</div>
    <div class='rgnbtn' id=132>안동시</div>
    <div class='rgnbtn' id=133>구미시</div>
    <div class='rgnbtn btn_sm' id=134>영주시·문경시·예천군</div>
    <div class='rgnbtn' id=135>영천시·청도군</div>
    <div class='rgnbtn btn_sm btn_ssm' id=136>상주시·군위군·의성군·청송군</div>
    <div class='rgnbtn' id=137>경산시</div>
    <div class='rgnbtn btn_sm btn_ssm' id=138>영양군·영덕군·봉화군·울진군</div>
    <div class='rgnbtn btn_sm' id=139>고령군·성주군·칠곡군</div>   
</div>