<h1 id="whoTitle">경상남도・</h1>

<div>
    <!--<img id="img_map2" src="https://whynotvote-nis.c9users.io/assets/sources/map_2/map_2_10gys-01.png">-->
    <img id="img_map2" src="https://whynotvote-nis.c9users.io/assets/sources/map_2/2/map_2_10gys.png">
</div>

<div id="rg2_list">
<div class='rgnbtn' id=140>창원시</div>
<div class='rgnbtn' id=141>진주시</div>
<div class='rgnbtn' id=142>통영시·고성군</div>
<div class='rgnbtn btn_sm' id=143>사천시·남해군·하동군</div>
<div class='rgnbtn' id=144>김해시</div>
<div class='rgnbtn btn_sm' id=145>밀양시·의령군·함안군·창녕군</div>
<div class='rgnbtn' id=146>거제시</div>
<div class='rgnbtn' id=147>양산시</div>
<div class='rgnbtn btn_sm' id=148>산청군·함양군·거창군·합천군</div>
</div>