<h1 id="whoTitle">서울특별시・</h1>

<div>
    <!--<img id="img_map2" src="https://whynotvote-nis.c9users.io/assets/sources/map_2/map_2_1seoul-01.png">-->
    <img id="img_map2" src="https://whynotvote-nis.c9users.io/assets/sources/map_2/2/map_2_1seoul.png">
</div>

<div id="rg2_list">
    <div class='rgnbtn' id=1>종로구</div>
    <div class='rgnbtn' id=2>중구·성동구</div>
    <div class='rgnbtn' id=3>용산구</div>
    <div class='rgnbtn' id=4>광진구</div>
    <div class='rgnbtn' id=5>동대문구</div>
    <div class='rgnbtn' id=6>중랑구</div>
    <div class='rgnbtn' id=7>성북구</div>
    <div class='rgnbtn' id=8>강북구</div>
    <div class='rgnbtn' id=9>도봉구</div>
    <div class='rgnbtn' id=10>노원구</div>
    <div class='rgnbtn' id=11>은평구</div>
    <div class='rgnbtn' id=12>서대문구</div>
    <div class='rgnbtn' id=13>마포구</div>
    <div class='rgnbtn' id=14>양천구</div>
    <div class='rgnbtn' id=15>강서구</div>
    <div class='rgnbtn' id=16>구로구</div>
    <div class='rgnbtn' id=17>금천구</div>
    <div class='rgnbtn' id=18>영등포구</div>
    <div class='rgnbtn' id=19>동작구</div>
    <div class='rgnbtn' id=20>관악구</div>
    <div class='rgnbtn' id=21>서초구</div>
    <div class='rgnbtn' id=22>강남구</div>
    <div class='rgnbtn' id=23>송파구</div>
    <div class='rgnbtn' id=24>강동구</div>
</div>



