<h1 id="whoTitle">울산광역시・</h1>

<div>
    <!--<img id="img_map2" src="https://whynotvote-nis.c9users.io/assets/sources/map_2/map_2_15ulsan-01.png">-->
    <img id="img_map2" src="https://whynotvote-nis.c9users.io/assets/sources/map_2/2/map_2_15ulsan.png">
</div>

<div id="rg2_list">
    <div class='rgnbtn' id=61>중구</div>
    <div class='rgnbtn' id=62>남구</div>
    <div class='rgnbtn' id=63>동구</div>
    <div class='rgnbtn' id=64>북구</div>
    <div class='rgnbtn' id=65>울주군</div>
</div>