<!DOCTYPE html>
<html>
<head>
  <title>누구뽑지</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta property="og:title" content="누구뽑지?"/>
  <meta property="og:type" content="article"/>
  <meta property="og:image" content="assets/sources/fb_cover.jpg"/>
  <meta property="og:image:width" content="200" />
  <meta property="og:image:height" content="200" />
  <meta property="og:url" content="https://whotovote.kr"/>
  <meta property="og:description" content="내가 살고 있는 동네가 어떤 선거구에 소속되어 있는지, 우리 선거구는 어떤 후보자들이 있는지. 그리고 다른 사람들은 이 후보를 어떻게 평가하고 생각하는지. 궁금하지만 찾아보기 불편하지 않으셨나요? 누구뽑지?에서 확인해보세요!"/>
  <!-------------------------------CUSTOM JavaScript--------------------------------------->
  <!--<script src="/jquery-1.12.2.min.js"></script>-->
  <!--<script src='/whotovote.js'></script>-->
  
  
  <!-- title icon -->
  <link rel="icon" type="image/png" href="https://whynotvote-nis.c9users.io/assets/sources/logo_ico2.png" />
  
  
</head>
<body>
  

  <%= yield %>

</body>
</html>
